/*resetea el css del navegador(solo los valores seleccionados)*/
*{
	font-size: 1em;
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	color: black;
}

.separation{
	height: 5px;
	background-color: lightblue;
	margin: 20px; 
	border-radius: 50px;
}

.weight_form{
	background-color: whitesmoke; 
	height: 600px;
	margin: 20px; 
	border-radius: 10px;
	width: 80%;
	border: 2px solid lightgrey;
	margin: 0 auto;
}

.title_page{
	font-size: 30px;
	text-align: center;
	font-family: arial;
}

.weight_form_small{
	background-color: whitesmoke; 
	height: 1000px;
	margin: 20px; 
	border-radius: 10px;
	width: 50%;
	border: 2px solid lightgrey;
	margin: 0 auto;
	opacity: 0.9;
}

.user_login{
	position: absolute;
	background-color: white;
	top: 50%;
	left: 50%; 
	width: 400px;
	height: 440px;
	margin-left: -200px;
	margin-top: -220px;
}

.user_login_form{
	background-color: whitesmoke; 
	height: 440px;
	width: 100%;
	margin: 0 auto;
	border-radius: 0px;
}

.img-container{ 
	border-radius: 10px;
	width: 90%;
	border: 2px solid whitesmoke;
	margin: 0 auto;
}

.img-container-add-game{ 
	border-radius: 10px;
	width: 60%;
	border: 2px solid whitesmoke;
	margin: 0 auto;
}
.container_comments{ 
	border-radius: 10px;
	width: 60%;
	border: 2px solid whitesmoke;
	margin: 0 auto;
}

.form_comm{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.img-center{
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

.class{
	height: 500px;
	background-color: black;
	margin: 20px; 
}

.fondo{
	background-image: url(img/fondo.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.fondo_login{
	background-image: url(img/fondo.jpg);
	background-size: 100% 1000px;
	background-repeat: no-repeat;
}

.btn{
	margin: 0 auto;
}

/*START IR ARRIBA*/
#btnScroll:hover {
	background-color: #00aced;;
	opacity: 1;
	transition: all 0.7s ease-out;
	border-radius: 50%;
	box-shadow: 0px 0px 3px 2px #ec731e;
	transform: rotate(360deg);
}

.buttonScroll{
	display: block;
	position: fixed;
	bottom: 10px;
	right: 10px;
	z-index: 1000;
	border: none;
	outline: none;
	background-color: gold;
	opacity: 0.6;
	padding: 15px;
	border-radius: 5px;
}
/*END IR ARRIBA*/

/*FORMULARIO*/

/*PONER CLASES*/
form {
    margin: 0 auto; /*centrado*/
    width: 400px;
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 20px;
}

label {
    /*tamaño y alineacion*/
    display: inline-block;
    width: 90px;
    text-align: right;
}

input{
    /* fuente */
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus{
    border-color: #000;
}

.button {
    /* Para posicionar los botones a la misma posición que los campos de texto */
    padding-left: 90px; /* mismo tamaño a todos los elementos label */
}

button {
    /* Margen= espacio entre labels y sus campos de texto */
    margin-left: .5em;
}

/*END FORMULARIO*/

/* START HTML index*/
.container-fluid{
	display: grid;
	width: 80%;
	margin: 0 auto;
	padding: 0;
}
.card{
	width: 18rem;
	margin: 10px auto;
	opacity: 0.9;
	box-shadow: 1px 1px 1px lightblue;
}
.set-padding{
	padding: 10px;
}
.resaltar-borde:hover{
	border: 1px solid lightblue;
	box-shadow: 0px 0px 0px grey;
}

.card-title, .card-text{
	text-align: center;
}

.set-margin{
	margin: 0px;
}

/* END HTML index*/

/*START HTML agregarJuego*/
.sectionAddGameForm{
	background-color: whitesmoke;
	border-radius: 20px;
	width: 90%;
}
.botonera{
	margin: 10px auto;
}
.stylebutton{
	height: 50px;
	text-shadow: 1px 1px 1px black;
	box-shadow: 1px 1px 1px black;
	margin: 3px;
	border: 1px solid black;
}
.estirar{
	width: 1px;
	margin-top: 400px;
}
.letraBlanca{
	color: whitesmoke;
}
/*END HTML agregarJuego*/

/*START FOOTER*/
footer{
	display: block;
	position: fixed;
	bottom: 0px;
	left: 0px;
	z-index: 1100;
	background-color: whitesmoke;
	padding: 15px;
	border: 2px solid lightblue;
	border-top-left-radius: 0;
	border-top-right-radius: 40px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 40px;
}

.font:hover{
	border-radius: 5px;
	transition: all 0.1s ease-out;
	opacity: 0.7;
}

#iconTw{
	color: #00aced;
}
#iconIg{
	color: white;
}
#iconFb{
	color: #3b5998;
}

/*END FOOTER*/